<?xml version="1.0" encoding="utf-8"?>
<!-- 담당자 : 조규민 -->
<!-- 구현원리 : Android 런처 Activity 생성 시점부터 portrait를 강제해 Unity Splash가 반대로 표시된 뒤 회전되는 현상을 방지한다. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- 추가: 조규민 - Unity 기본 런처 Activity의 화면 방향을 Android Manifest 병합 단계에서 portrait로 고정한다. -->
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            android:exported="true"
            tools:replace="android:screenOrientation,android:resizeableActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
